@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.repeating-gradient-lines{
	background: repeating-linear-gradient(-29deg, #0000, #0000 6px, var(--color-gray-200) 1px 7px)	
}
@media (prefers-color-scheme: dark){
	.repeating-gradient-lines{
		background: repeating-linear-gradient(-29deg, #0000, #0000 6px, var(--color-gray-800) 1px 7px)	
	}
}
